---
---

body.post {
    max-width: 900px;

    img:not(.emoji) {
        max-height: 350px;
        margin: 0 auto;
        display: block;
    }

    .cp_embed_wrapper {
        margin: 1em 0;
    }
}
